# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

#Ignore the following files

.ipynb_checkpoints

.DS_Store

pycache

*.db

*.pytest_cache